.header {
  width: 100%;
  height: 84vh;
  padding: 4em;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  color: #ffffffbf;
  position: relative;
  z-index: -2;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary, 0.4);
    z-index: -1;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  i {
    margin-bottom: 1em;
    color: #fff;
    font-size: 2.8rem;
    padding: 0.5em;
    border: 2px solid #fff;
    border-radius: 50%;
  }
}